@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Chelsea+Market&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    background-image: url(images/background5.png);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}
nav{
    top: 0%;
    left:0%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.logo1{
    padding-top: 0.6875rem;
    padding-left: 4.300rem;
}
.logo{
    width: 8.9375rem;
    display: flex;
}
.navigation{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 5.9375rem;
    font-family: "actor" , sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.75rem;
    margin-left: 400px;
    margin-right: 120px;
}
@media screen and (max-width : 600px){
    .navigation{
        flex-direction: row;
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 5.2rem;    
    }
    .logo1{
        padding-left: 2.5rem;
    }

}
.navigation a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom: #ffc637;
}

.navigation a:hover {
    text-decoration: underline #ffc637;
    transition: all  ease-in-out;
}

.navigation img {
    position: relative;
    height: 35px;
    width: 35px;
}
.quantity-count {
    position: absolute;
    background-color: #ffc637;
    border-radius: 100rem;
    width: 2rem;
    top: 2.5rem;
    right: 6.5rem;
}

.section1 p{
    font-size: 1.5rem;
    padding-left: 2.30rem;
}

.sidebar{
    left: 0;
    bottom: 0;
    top: 9.375rem;
    width: 18.75rem;
    height: 37rem;
    overflow-y:scroll;
    /* overflow: hidden;*/
}

.content{
    display: flex;
    flex-direction: row;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 3s   ease-in-out;
}
.sidebar_link:hover{
    filter: drop-shadow(10px 10px 20px rgb(227, 192, 19));
}
.sidebar_link img{
    /* display: flex; */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    width: 12rem;
    margin-left: 2.5rem;
    /* position: fixed; */
}
.sidebar_link div{
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-left: 6rem; */
    margin-top: -1rem;
    font-family:cursive;
    font-weight: 100;
    font-size: xx-large;
}
.sidebar_link button{
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-left: 6rem; */
    margin-top: -1rem;
    font-family:cursive;
    font-weight: 100;
    font-size: xx-large;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#burger img{
    margin-left: 2.5rem;
}
#burger button{
    margin-left: 5rem;
    margin-top: -2rem;
}

#cake img{
    margin-left: 3rem;
}
#cake button{
    margin-left: 6.5rem;
    margin-top: -2rem;
}
#dosa button{
    margin-left: 6rem; 
    margin-top: -1.5rem; 
}
#dosa img{
    margin-left: 3rem;
}
#paneer button{
    margin-top: -1.5rem;
    margin-left: 6rem;
}
#paneer img{
    margin-left: 3rem;
}
#salad button{
    margin-top: -1.5rem;
    margin-left: 6.5rem;
}
#salad img{
    margin-left:3rem;
}
#momos img{
    margin-left: 3rem;
}
#momos button{
    margin-left: 6rem;
}
#pizza img{
    margin-left: 3rem;
}
#pizza button{
    margin-left: 6rem;
}
#fries img{
    margin-left: 2.7rem;
}
#fries button{
    margin-top: -2.5rem;
    margin-left:6rem;
}
#ice_cream button{
    margin-top: -1.5rem;
    margin-left: 4rem;
}

.display{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    top: -10px;
    width: 1500px;
    height: 37rem;  
    overflow-y:scroll;
    row-gap: 30px;
}
.card{
    display: flex;
    height: 275px;
    width: 250px;
    margin-left: 40px;
    backdrop-filter: blur(2px);
    backface-visibility: hidden;
    border-radius: 50px;
    flex-direction: column;
    text-align: center;
}
.image img{
    height: 153px;
    width: 143px;
    opacity: 1;
    /* margin-left: -5px; */
}
.item_name h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -10px;
}
.item_discription{
    /* background-color: aliceblue; */
    margin-left: -10px;
    /* text-align: center; */
    padding-right: 29px; 
}
.item_discription p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.price{
    color: rgb(241, 32, 32);
    font-weight: bold;
    margin-left: -40px;
}
.add_to_cart_btn button{
    background-color: #ffc637;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 110px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    cursor:pointer;
}