@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Chelsea+Market&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    background-image: url(images/background5.png);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* box-shadow: inset 0 10px 100px -5px rgba(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
}
nav{
    /* position: fixed; */
    top: 0%;
    left:0%;
    width: 100%;
    /* background-color: blue; */
    /* box-sizing: border-box; */
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.logo1{
    padding-top: 0.6875rem;
    padding-left: 4.300rem;
}
.logo{
    width: 8.9375rem;
    display: flex;
}
.navigation{
    /* background-color: aqua; */
    display: flex;
    flex: 1;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 5.9375rem;
    font-family: "actor" , sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.75rem;
    margin-left: 400px;
    margin-right: 120px;
}
.navigation a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom: #ffc637;
}
/* .navigation a:after{
    content: "";
    position: absolute;
    background-color:#ffc637;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;  
} */
.navigation a:hover {
    text-decoration: underline #ffc637;
    transition: all  ease-in-out;
}

.nav:hover{
    /* text-decoration: none; */
    filter: drop-shadow(10px 10px 20px rgb(227, 192, 19));
}

.navigation img {
    height: 35px;
    width: 35px;
}

.section1 p{
    font-size: 1.5rem;
    padding-left: 2.30rem;
}

.sidebar{
    /* background-image: url(images/background5.png); */
    /* position: fixed; */
    /* position: absolute; */
    /* background-color: aqua;       */
    left: 0;
    bottom: 0;
    top: 9.375rem;
    width: 18.75rem;
    height: 35rem;
    overflow-y:scroll;
    /* overflow: hidden;*/
}

.content{
    display: flex;
    flex-direction: row;
}
.display{
    display: flex;
    top: -10px;
    width: 1500px;
    height: 35rem;  
    overflow-y:scroll;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 3s   ease-in-out;
}
.sidebar_link:hover{
    filter: drop-shadow(10px 10px 20px rgb(227, 192, 19));
}
.sidebar_link img{
    /* display: flex; */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    width: 12rem;
    margin-left: 2.5rem;
    /* position: fixed; */
}
.sidebar_link div{
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-left: 6rem; */
    margin-top: -1rem;
    font-family:cursive;
    font-weight: 100;
    font-size: xx-large;
}
#burger div{
    margin-top: -2rem;
}
#burger img{
    margin-left: 2.5rem;
}
#cake div{
    margin-top: -2rem;
}
#cake img{
    margin-left: 3rem;
}
#dosa div{
    margin-top: -1.5rem;
}
#dosa img{
    margin-left: 3rem;
}
#paneer div{
    margin-top: -1.5rem;
}
#paneer img{
    margin-left: 3rem;
}
#salad div{
    margin-top: -1.5rem;
}
#salad img{
    margin-left:3rem;
}
#momos img{
    margin-left: 3rem;
}
#pizza img{
    margin-left: 3rem;
}
#fries img{
    margin-left: 2.7rem;
}
#fries div{
    margin-top: -2.5rem;
}
#ice_cream div{
    margin-top: -1.5rem;
}

.display{

}


